<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings >
    <add key="LastUserName" value="Admin"/>
    <add key="LastPassword" value="admin"/>
    <!--<add key="serverpath" value="d:\acctdata\"/>-->
    <add key="serverpath" value="\\server\EasyJobStar\AccountData"/>
  </appSettings>
    <connectionStrings>
        <!--<add name="Account" connectionString="Data Source=GAURAV-PC;Initial Catalog=Accounts;user id=sa;password=discover"
            providerName="System.Data.SqlClient" />
        <add name="Account.My.MySettings.AccountsConnectionString" connectionString="Data Source=GAURAV-PC;Initial Catalog=Accounts;user id=sa;password=discover"
            providerName="System.Data.SqlClient" />-->
      <!--<add name="Account" connectionString="Data Source=SHAILESH;Initial Catalog=Accounts;User ID=sa;Password=sql"
           
            providerName="System.Data.SqlClient" />-->
      <add name="Account" connectionString="Data Source=server\easyjob4;Initial Catalog=Accounts1;User ID=sa;Password=star@09"
           
            providerName="System.Data.SqlClient" />
        <add name="Account.My.MySettings.AccountsConnectionString" connectionString="Data Source=SHAILESH;Initial Catalog=Accounts;User ID=sa;Password=sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
